<!DOCTYPE html>
{% block css %}
<link rel="stylesheet" href="/style/css/formoid-solid-green.css" type="text/css" />
{% endblock css %}
{% block content %}
<form class="formoid-solid-green" style="background-color:#333;font-size:14px;color:#34495E;max-width:800px;min-width:150px" method="POST" action="/user/login" id="login_form" role="form">
    <div class="title">
        <h2 style="text-align:center;">تسجيل الدخول / تسجيل</h2>
    </div>
    <div class="row">
	    <div class="col-lg-8">
	    	<div class="form-group">
		        <label class="sr-only" for="email">البريد الإلكتروني</label>
		        <div class="input-group">
		          <div class="input-group-addon">
		             <i class="icon_mail_alt"></i>
		          </div>
		          <input type="email" name="email" class="form-control" id="email" placeholder="البريد الإلكتروني">
		        </div>
		    </div>
		    <div class="form-group">
		        <label class="sr-only" for="password">كلمة المرور</label>
		        <div class="input-group">
		          <div class="input-group-addon">
		             <i class="icon_lock"></i>
		          </div>
		          <input type="password" class="form-control" id="password" name="password" placeholder="كلمة المرور">
		        </div>
		        <div class="alert alert-danger" role="alert" id="login_error" style="display:none;">البريد الإلكتروني أو كلمة المرور غير صحيحة</div>
		    </div>
		    {% if error %}
		        <div class="alert alert-danger" role="alert">{{error}}</div>
		    {% endif %}
		    <div class="submit" id="login_submit">
		        <input type="submit" value="تسجيل الدخول"/>
		    </div>
	    </div>
    	<div class="col-lg-4">
	      <a href="{{login_url}}">
	          <img src="/style/img/sign-in-with-google.png" style="max-width:100%; height:auto; display:block;">
	      </a>
	    </div>
    </div>
</form>
{% endblock content %}
{% block endjs %}
<script type="text/javascript">
$(document).ready(function() {

    // process the form
    $('#login_form').submit(function(event) {

        $('#login_form').append('<img src="/style/img/loader.gif" id="loading">');
        $('#login_error').css('display','none');
        var formData = {
            'email'       : $('input[name=email]').val(),
            'password'    : $('input[name=password]').val(),
            'ajax'        : 't'
        };
        $.ajax({
            type        : 'POST', 
            url         : '/user/login', 
            data        : formData, 
            dataType    : 'json', 
            encode      : true
        })
            .done(function(data) {
                console.log(data)
            $('#loading').remove();
            if (data.login===true) {
                if (window.location.href.search('/user/login')===-1) {
                    window.location.reload();
                }
                else {
                    if (document.referrer.search('/user/login')===-1) {
                        window.location.href = document.referrer;
                    }
                    else {
                       window.location.href = '/';
                    }
                    
                }
            }
            else {
                $('#login_error').toggle();
            }
            });
        // stop the form from submitting the normal way and refreshing the page
        event.preventDefault();
    });
});
</script>

{% endblock endjs %}
