<!---Head -->
{% extends "admin/base.html" %}
{% block title %}
    إضافة لغز
{% endblock %}
    
{% block h %}
    <i class="fa fa-laptop"></i>
    إضافة لغز
{% endblock h %}

<!---content-->
{% block content %}
        {% if done and done == 'yes' %}
          <div class="alert alert-success" role="alert">تمت إضافة اللغز بنجاح
          <a href="/quiz/{{url}}" class="alert-link">مشاهدة النتيجة</a>
          </div>
        {% endif %}

              <form method="post" role="form">

                <div class="form-group">
                  <label for="title">اسم اللغز</label>
                  <input class="form-control" type="text" name="title" id="title" value="{{title}}">
                  {% if error_title %}
                  <div class="alert alert-danger" role="alert">{{error_title}}</div>
                  {% endif %}
                </div>

                <div class="form-group">
                  <label for="details">تفاصيل اللغز</label>
                  <textarea class="form-control" type="text" name="details" id="details" rows="8" required>{{details}}</textarea>
                  {% if error_details %}
                  <div class="alert alert-danger" role="alert">{{error_details}}</div>
                  {% endif %}
                </div>

                {% for i in range(1,6) %}
                    <div class="form-group">
                      <label for="answer{{i}}">الإجابة رقم {{i}}</label>
                      <input class="form-control" type="text" name="answer{{i}}" id="answer{{i}}">
                    </div>
                {% endfor %}

                

                <div class="form-group">
                    <label for="true_a">رقم الإجابة الصحيحة</label>
                          <select class="form-control" name="true_a">
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                          </select>
                </div>

                <div class="form-group">
                  <label for="explain">شرح الإجابة</label>
                  <textarea class="form-control" type="text" name="explain" id="explain">{{explain}}</textarea>
                  {% if error_explain %}
                  <div class="alert alert-danger" role="alert">{{error_explain}}</div>
                  {% endif %}
                </div>

                <div class="form-group">
                  <label for="status">مفعَل</label>
                  <input type="checkbox" class="form-control" name="status">
                </div>


                <button type="submit" class="btn btn-lg btn-primary btn-block">إضافة اللغز</button>
              </form>
            
          



{% endblock content %}