<!---Head -->
{% extends "admin/base.html" %}
{% block title %}
    تعديل لعبة
{% endblock %}
    
{% block h %}
    <i class="fa fa-laptop"></i>
    تعديل لعبة
{% endblock h %}

<!---content-->
{% block content %}
        {% if done and done == 'yes' %}
          <div class="alert alert-success" role="alert">تمت إضافة اللعبة بنجاح</div>
        {% endif %}

              <form method="POST" role="form" action="{{upload_url}}" enctype="multipart/form-data" accept-charset="UTF-8">

                <div class="form-group">
                  <label for="title">اسم اللعبة</label>
                  <input class="form-control" type="text" name="title" id="title" value="{{game.title}}" required>
                  {% if error_title %}
                  <div class="alert alert-danger" role="alert">{{error_title}}</div>
                  {% endif %}
                </div>

                <div class="form-group">
                  <label for="details">شرح اللعبة</label>
                  <textarea class="form-control" type="text" name="details" id="details">{{game.details}}</textarea>
                  {% if error_details %}
                  <div class="alert alert-danger" role="alert">{{error_details}}</div>
                  {% endif %}
                </div>


                  
                <div class="form-group">
                  <label for="swf">ملف اللعبة : <a href="{{ '/file/'~game.swf}}">الملف الحاي</a> {{game.url}} </label>
                  <input class="form-control" type="file" name="swf" id="swf">
                  {% if error_swf %}
                  <div class="alert alert-danger" role="alert">{{error_swf}}</div>
                  {% endif %}
                </div>

                
                <div class="form-group">
                  <label for="img">اختر صورة للعبة : <a href="{{ '/file/'~game.img }}">الصورة الحالية</a> {{game.imgurl}} </label>
                  <input class="form-control" type="file" name="img" id="img">
                  {% if error_img %}
                  <div class="alert alert-danger" role="alert">{{error_img}}</div>
                  {% endif %}
                </div>

                <div class="form-group">
                  <label for="status">مفعَل</label>
                  <input type="checkbox" class="form-control" name="status"{%if game.status == 1%} checked{% endif %}>
                </div>

                <input type='hidden' name='gid' value='{{game.key.id()}}'>



                <button type="submit" class="btn btn-lg btn-primary btn-block">تعديل اللعبة</button>
              </form>
            
            



{% endblock content %}