

<div class="col-lg-3">

	<div class="col-md-12">
		<div class="social-box facebook">
			<i>الألغاز</i>
			<ul>
				<li>
					<strong id="q"></strong>
					<span>لغز</span>
				</li>
				<li>
					<strong id="q_pup"></strong>
					<span>لغز منشور</span>
				</li>
			</ul>
		</div><!--/social-box-->
	</div>
	<div class="col-md-12">
		
		<div class="social-box google-plus">
			<i>الألعاب</i>
			<ul>
				<li>
					<strong id="g"></strong>
					<span>لعبة</span>
				</li>
				<li>
					<strong id="g_pup"></strong>
					<span>لعبة منشورة</span>
				</li>
			</ul>
		</div><!--/social-box-->			
		
	</div><!--/col-->
	<div class="col-md-12">
		
		<div class="social-box twitter">
			<i>الأعضاء</i>
			<ul>
				<li>
					<strong id="u"></strong>
					<span>عضو</span>
				</li>
			</ul>
		</div><!--/social-box-->			
						
					</div><!--/col-->

	

</div>
